<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="static/font/font.css">
</head>
<body>
  <h1 id="group">第一二三四五六七八九十组</h1>     // 这里的id='h' 对应上面css代码
  <p id="number">1234567890</p>
  <p id="alphabet">abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
  <p id="star">
    金晨高秋梓魏大勋龚锐麦亨利魏瑾高颖浠高茂桐高瀚宇马伯骞陈靖可陈珂陈小纭陈哲远陆定昊钟祺
    钟易轩郭子凡郑丹妮郑丞丞郑业成邱虹凯邱治谐连翔辣目洋子赵粤赵磊赵天宇赖美云贝汯璘谭杰希
    谭妍喆谢彬彬谈楚然许靖韵许梦圆蔡知辰蒋申董岩磊董又霖董力范世錡苏青翟潇闻美娜罗智仪罗恬怡
    米热王艺甜王竟力王浩歌王志文王峥王子王妍之王天辰王大陆王一哲熊梓淇焉栩嘉洪尧沈天行江映蓉
    段艺璇段奥娟森竣梦秦梁缘林超泽杨超越杨廷东杨冰怡杨东清杜雨杜容宙李若天李艺彤李紫婷李璐尔
    李玟希李治廷李沐辰李晓峰李星李庚暄李宇琪李匡时李一桐朱星杰曾一萱曹曦月易柏辰徐浩徐梦洁徐志贤
    徐圣恩彭楚粤张阳阳张紫宁张昕张南庞瀚辰常喆宽尹清安悦溪孟美岐孙芮姜京佐夏宁骏夏之光哈尼克孜
    周震南周锐周彦辰吴芊盈吴宣仪吴佳怡利晴天刘美含刘海宽刘洛汐刘姝贤冯建宇傅菁倪秋云伽里于湉于小彤
    为投票
  </p>
  <p id="copyWriting">
    送爱豆成为独家旗手 享受专属show time恭喜你投票成功很抱歉您的投票次数用光啦快速登录/注册绑定手机号刷新重试
    为了账户安全，请您登录后参与爱豆投票~快速登录很遗憾活动已经结束了
  </p>
</body>
</html>