@import "style/px2rem.scss";

.toast-wrapper{
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1005;
  padding: px2rem(30) px2rem(10);
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: px2rem(24);
  background: rgba(0,0,0,.7);
  min-width: px2rem(205);
  max-width: px2rem(300);
  color: #fff;
  .icon{
    width: px2rem(58);
    height: px2rem(58);
    i{
      display: block;
      width: px2rem(58);
      height: px2rem(58);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .icon-success {
      background-image: url('../../assets/popup-success.png');
    }
    .icon-warning {
      background-image: url('../../assets/popup-warning.png');
    }
  }
  .desc{
    margin-top: px2rem(10);
    width: px2rem(300);
    text-align: center;
    font-size: px2rem(26);
    line-height: px2rem(28);
  }
}